<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Spotify API Suite" parallel="classes" thread-count="4" data-provider-thread-count="5">
    <test name="All Tests">
        <classes>
            <class name="com.mario.spotify.tests.PlaylistTests"/>
            <class name="com.mario.spotify.tests.PlaylistNegativeTests"/>
            <class name="com.mario.spotify.tests.PopulatePlaylistTest"/>
            <class name="com.mario.spotify.tests.PlaylistBoundaryTests"/>
            <class name="com.mario.spotify.tests.TokenTest"/>
        </classes>
    </test>
</suite>